.card-keys-infos {
    width: 260px;
    height: 125px;
    display: flex;
    align-items: center;
    gap: 25px;
    background: $white-light;
    padding: 30px;

    .text {
        &-value {
            color: $grey-medium;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
        }
        &-label {
            color: $grey-light;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
