.session-tooltip {
    border: none;
    outline: none;
    background: $white;
    color: $black;
    padding: 8px;
    font-size: 8px;
    font-weight: 600;

    p {
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}
