.profile {
    margin: 0 0 50px 0;
    .title {
        color: $black;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 0 0 40px 0;

        &-name {
            color: $primary;
        }
    }
}

.activity-container {
    width: 835px;
    height: 320px;
}
